<!--Toast-->
<div class=" fixed bottom-0 right-0 m-8 w-64 hidden" id="toast">
  <label
    class=" cursor-pointer flex items-start justify-between w-full p-2 bg-red-500 h-16 rounded shadow-lg text-white">
    请输入内容
    <div onclick="closeToast()">
      <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
        viewBox="0 0 18 18">
        <path
          d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
        </path>
      </svg>
    </div>
  </label>

</div>


<script>
  function closeToast() {
    console.log(1);
    let element = document.querySelector('#toast');
    addClass(element, 'hidden')
  }
</script>