<header class="flex justify-between items-center py-4 px-6 bg-white border-b-4 border-indigo-600">
  <button onclick="t1()" class="text-gray-500 focus:outline-none lg:hidden" id='tagcl'>
    <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4 6H20M4 12H20M4 18H11" stroke="currentColor" stroke-width="2" stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </button>

  <div class="container mx-auto text-center">
    <h1 class="text-3xl font-medium">DCS World Lua调试工具</h1>
  </div>
</header>

<script>
  function t1() {
    document.querySelector("#sides").style.display = 'block'
    document.querySelector("#tagcl").style.display = 'none'
  }
</script>